
body {
  background: #eeeeee;
}

div {
  width: 200px;
  height: 100px;
  background: #fff;
  box-shadow: 10px 20px 4px 10px rgba(0, 0, 0, .4) inset,
  10px 20px 4px 10px darkblue;
}

h1 {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, .4);
}
