
div {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 100px;
}

#box1 {
  background: skyblue;
  opacity: .5;
}

#box2 {
  background: orange;
  opacity: .5;
  transform: translate(20px, 40px);
  transform: translateX(50px);

  transform: scale(0.5, 1.5);

  transform: skew(10deg, 20deg);

  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);

  transform-origin: 0 0;
}

#transition-container {
  margin-top: 200px;
}

#transition-container div {
  width: 100px;
  height: 50px;
  background: skyblue;
}

#transition-container div:hover {
  width: 200px;
  height: 50px;
  background: blue;
}